<% @title = 'Edit User' %>

<div data-role="content">
  <div class="ui-body ui-body-d">
    <p>Edit your account. Leave password blank if you don't want to change it.</p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, "data-ajax" => false }, :remote => true) do |f| %>
      <%= devise_error_messages! %>
      <div id="user_errors"></div>

      <div data-role="fieldcontain">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
      </div>

      <div data-role="fieldcontain">
        <%= f.submit "Update", "data-theme" => "b" %>
      </div>
    <% end %>
  </div>
  <br/>
  <div class="ui-body ui-body-d">
    <p><%= link_to "My Dishes", user_dishes_path(current_user) %></p>
    <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
  </div>
</div>