<% @title = 'Sign Up' %>

<div data-role="content">
  <div class="ui-body ui-body-d">
    <p>Sign up to track and save what you've eaten.</p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true, :html => { "data-ajax" => false }) do |f| %>
      <%= devise_error_messages! %>
      <div id="user_errors"></div>

      <div data-role="fieldcontain">
        <%= f.label :username %>
        <%= f.text_field :username %>
        <span>*</span>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :email %>
        <%= f.email_field :email %>
        <span>*</span>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password %>
        <%= f.password_field :password %>
        <span>*</span>
      </div>

      <div data-role="fieldcontain">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <span>*</span>
      </div>

      <div data-role="fieldcontain">
        <%= f.submit "Sign up", "data-theme" => "b" %>
      </div>
    <% end %>
  </div>
  
  <%= render :partial => "devise/shared/links" %>
</div>