%p#notice= notice

%p
  %b Slug:
  = @dish.slug
%p
  %b Restaurant:
  = @dish.restaurant_id
%p
  %b Category:
  = @dish.category
%p
  %b Name:
  = @dish.name
%p
  %b Description:
  = @dish.description

= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
