%p#notice= notice

%p
  %b Slug:
  = @restaurant.slug
%p
  %b Country:
  = @restaurant.country_id
%p
  %b Category:
  = @restaurant.category
%p
  %b Name:
  = @restaurant.name

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
